:root{
    --main-bg-color: #f0f9ff;
    --secondary-bg-color: #075985;
    --tertiary-bg-color: #0284c7;
    --card-bg-color: silver;
    --main-font-color: #082f49;
    --secondary-font-color: #e0f2fe;
}
html, body{
    margin: 0;
    height: 100%;
}
body{
    height: 100%;
    padding:0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows:auto auto auto;
    background-image: linear-gradient(-189deg, var(--secondary-bg-color) clamp(2%, 20vw, 30vh), transparent clamp(calc(2% + 5px), calc(20vw + 5px), calc(30vh + 5px)));
    background-repeat: no-repeat;
    overflow-x: hidden;
    

}

header, main, footer{
    padding: clamp(2px, 5%, 20px);
    padding-left:clamp(2px, 5%, 50px);
    padding-right:clamp(2px, 5%, 50px);
}
/* Header area */
header{
    grid-area: header;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: clamp(5px, 4vw, 50px);
}

.frame{
    background-color:var(--card-bg-color);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}
.photo{
    align-self:flex-start;
    width: 20vw;
    >img{
        width: 100%;
    }
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 18vw;
    width: 80%;
    padding: clamp(10px, 1%, 15px);
    background-color: var(--card-bg-color);
    border: 1px solid black;
    font-size: clamp(8px, 1.5vw, 18px);
    >article{
        height: clamp(20px, 70%, 200px);
    }
    > article > h1{
        font-size: clamp(5px, 4vw, 40px);;
       margin: 0;
    }
    >article > .text-div{
        margin: 0;
        height: 100%;
        max-height:80%;
        overflow-y: scroll;
        >p{
            margin: 0;
        }
    }
    >.contact{
        height:15%;
        width: 92%;
        display: flex;
        justify-content: flex-end;
        gap: clamp(12px, 5%, 70px);
        >a{
            height:100%;
            >img{
                height:100%;
            }
        }
    }
}
main{
    font-size: clamp(8px, 1.5vw, 24px);
    grid-area: main;
    text-align: center;
    .project-card-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:1rem;
    overflow-y: scroll;

}}
.project-card{
    background-color: var(--tertiary-bg-color);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    font-size: 70%;
    color: var(--secondary-font-color);
    text-align: center;
        >a{
        height:100%;
        >img{
            border: 2px solid black;
            border-radius: 50px;
            width: 80%;
            max-height: 160px;
        }
    }
}

footer{
    font-size: clamp(6px, 1vw, 20px);
    grid-area: footer;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    color: var(--secondary-font-color);
    a{color: var(--secondary-font-color);}
    h1{
        text-align: center;
    }
    >h1, h2, h3{
        margin:10px;
    }

}
.contact-div{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.contact-footer{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    >a{
        width: 10%;
        >img{
            height: 100%;
            filter: invert();
        }
    }
    
}




@media screen and (max-width:1000px){
    header{
        justify-content: center;
        margin-top: 16px;
    }
    .photo{
        position: absolute;
        top:10px;
        left:30px;
        width: 15vw;
    }
    .card{
            width: 70%;
            height: 25vw;
            padding-left: 5%;

    }
    article{
        h1{
            text-align: center;
        }

}}
@media screen and (max-width: 320px){
    header, main, footer{
        padding: 2vw;
    }
.card{
    padding-top: 8%;
}
    article{
        font-size: 2vw;
    }
    main{
        padding-top:0;
        padding-bottom:0;
        h1{
            margin:0;
        }
        h2, h3{
            margin-top: 0;
        }
    }
    .project-card-container{
        height: 41vh;
        overflow-y:scroll
    }
    .project-card{
        a>img{
            width:50%;
        }
    }
}